501 RCDATA "queen.svg"
502 RCDATA "spider.svg"
503 RCDATA "beetle.svg"
504 RCDATA "grasshopper.svg"
505 RCDATA "ant.svg"
602 WAVE "sounds/capture.wav"
604 WAVE "sounds/game_over.wav"
701 RCDATA "fonts/Nunito.ttf"
